*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}




.menuLinea--bars i {
    cursor: pointer;
  margin: 2.2rem;
  
}

.menuActivo{
    background-color:  rgb(153, 211, 73) ;
    transition: all .2s ease-in-out;
display: none;
}

.disabled{
    transform: translate(-800px);

}


.menuClose i{
    color: white;
    cursor: pointer;
    margin: 1rem;
    transform: scale(1rem,2rem);
}
.menuClose:hover{
    width: 50px;
    background-color: red;
}


.lista li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    list-style: none;
margin-top: 1rem;
   margin-bottom: 1rem;
   width: 100vw;
   height: 5vh;
}
.lista li:hover{
    border: 2px solid rgb(139, 194, 87);
    background-color:  rgb(101, 189, 19);
    
}

.lista a { 
    color: white;
    font-weight: 400  ;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}



.inputSearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}
.input{
    height: 40px;
    width: 315px;
    border: none;
    padding: 1rem;
    border-radius: 10px 0px 0px 10px
}

.search{
    position: relative;
    cursor: pointer;
    height: 40px;
 width: 55px;   
 border: none;
 color: #bdecb6 ;
 background-color:#08420d ;
 padding: 1rem;
 border-radius: 0px 10px 10px 0px;
}
.search i{
    position: absolute;
    bottom: 12px;
    left: 20px;
}
.iconos a{
text-decoration: none;
}


.whathsapp{
    color: #25d366;
}
.instagram{

    width: 30px;
    height: 30px;

}

.facebook{
  width: 30px;
  height: 30px;
}
.logo img{
    width: 70px;
    height: 70px;
    background-color: white;
    margin: 1rem;
}

.menuLinea{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
   position:sticky;
}
